@layout('blank')

@section('title')
  Error 500
@endsection

@section('content')
  <main>
    <h1>HTTP Error &middot; <samp>500</samp></h1>
    <p>That is an serve internal error. :(</p>
  </main>
@endsection
