<meta charset="UTF-8" />

<title>
  @section('title')
    AdonisJs
  @endsection
</title>

<link rel="shortcut icon" href="{{ assetsUrl('icons/favicon.ico') }}" />

{{ css('css/style') }}

@!section('styles')
